spring:
  datasource:
    schema: classpath:import.sql
  devtools:
    livereload:
      enabled: true
mybatis:
  config-location: classpath:mybatis-config.xml
---
spring.profiles: local
spring:
  thymeleaf:
    cache: false
  h2:
    console:
      enabled: true
      path: /h2-console #jdbc URL : jdbc:h2:mem:testdb
---
spring.profiles: dev
spring:
  thymeleaf:
    cache: false
  datasource:
    platform: mysql
    url: jdbc:mysql://localhost:3306/ohmyplay
    username: test
    password: 1234
    driverClassName: com.mysql.jdbc.Driver
server.port: 80
---
spring.profiles: product
spring:
  datasource:
    platform: mysql
    url: jdbc:mysql://localhost:3306/ohmyplay
    username: test
    password: 1234
    driverClassName: com.mysql.jdbc.Driver
server.port: 80