<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title></title>
    <script src="/webjars/jquery/3.3.1/dist/jquery.js"></script>
    <script>
        $(function(){
            alert("Hello Jquery");
        });
    </script>
</head>
<body>
    <div th:replace="header :: Header"> </div>
    <div th:replace="body :: Body"> </div>
    <div th:replace="footer :: Footer"> </div>
</body>
</html>